<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>error</title>
</head>

<body>
    <h1>The email or password you entered was incorrect.</h1>


    <form action="/register">
        <button type="submit">register</button>
        <input type="button" value="back" onclick="history.back()" />

    </form>
</body>
