<h1>Create an account</h1>
<form action="welcome" method="POST">
    <div>
        <lable>username: </lable>
        <input type="text", id = "name", name="name", required></input>
    </div>
    <div>
        <lable>email: </lable>
        <input type="email", id = "email", name="email", required></input>
    </div>
    <div>
        <lable>password: </lable>
        <input type="password", id = "password", name="password", required></input>
    </div>
    <button type = "submit">submit</button>
</form>
<a href="/"> back </a>